* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c8f2ff;
}

.main-container {
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 90vh;
  justify-content: space-evenly;
  max-width: 400px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.user-data-container {
  height: 70vh;
  display: grid;
  max-width: 500px;
  margin: 0 auto;
  align-items: end;
}

.report-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
  padding: 15px;
}

.pets-container {
  display: flex;
  max-width: 500px;
  gap: 40px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  max-height: 400px;
  background-color: #5e5e5e;
  border-radius: 50px;
}

.card-image {
  width: 350px;
  height: 250px;
  object-fit: fill;
  border-radius: 50px;
}
.card-info-container {
  justify-content: space-evenly;
  display: flex;
  height: 100px;
  align-items: center;
}

.text-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  font-size: 24px;
}

.form-container {
  display: none;
}

.report-seen-pet {
  z-index: 2;
  background-color: #000000;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 500px;
  display: flex;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: white;
}

.aux-container {
  filter: none;
}
.blur {
  filter: blur(8px);
}

.title,
.text {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
}

.form {
  display: grid;
  gap: 20px;
}

.input {
  margin-top: 5px;
  display: block;
  width: 100%;
  border: solid;
  border-radius: 15px;
  height: 30px;
}
.textarea {
  height: 80px;
  margin-top: 5px;
  display: block;
  width: 100%;
  border: solid;
  border-radius: 15px;
}

.title {
  font-weight: 700;
  color: #eb6372;
}

.button {
  height: 60px;
  max-width: 500px;
  min-width: 300px;
  border: none;
  border-radius: 10px;
  font-family: "POPPINS";
  font-weight: 700;
  background-color: #5a8fec;
  text-align: center;
}

.report-button {
  width: 90px;
  height: 70px;
  background: #fc6c6c;
  border: none;
  border-radius: 15px;
  align-self: center;
  font-family: "POPPINS";
  font-size: 18px;
}

.text {
  font-weight: 400;
}

#dropzone {
  max-width: 500px;
  height: 300px;
  background-color: gainsboro;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  width: 30px;
  align-self: end;
}
