* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c8f2ff;
}

.main-container {
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 90vh;
  justify-content: space-evenly;
  max-width: 400px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.title,
.text {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.form {
  display: grid;
  gap: 20px;
}

.input {
  margin-top: 5px;
  display: block;
  width: 100%;
  border: solid;
  border-radius: 15px;
  height: 30px;
}

.title {
  font-weight: 700;
  color: #eb6372;
}

.button {
  height: 60px;
  max-width: 500px;
  min-width: 300px;
  border: none;
  border-radius: 10px;
  font-family: "POPPINS";
  font-weight: 700;
  background-color: #5a8fec;
}

.text {
  font-weight: 400;
}
